/* Globales*/
* {
    
    box-sizing: border-box;
  }
  
 
 
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px; 
  }
  
  /* Container */
  .contenedor {
    text-align: center;
    max-width: 1100px;
    padding: 20px;
  }
  
  /* Contendor para la imagen de perfil */
  .contenedor-imagen-perfil {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }
  
  /* borde rotatorio */
  .borde-movil {
    position: absolute;
    top: 1;
    left: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(135deg,black 50%,#800000 50%);
    transition: transform 0.5s ease;
  }
  
  .contenedor-imagen-perfil:hover .borde-movil {
    transform: rotate(360deg);
  }
  
  .imagen-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    padding: 7px;
    z-index: 1; /* fijamos la imagen respecto al borde */
  }
  
  /* Encabezados */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 100;
    
  }
  
  h1 span {
    color: #000;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.2em;
    color: #d40000;
    margin-bottom: 20px;
  }
  
  /* parrafos */
  p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  a {
    color: #d40000;
    text-decoration: none;
  }
  
  /* Redes Sociales */
  .redes {
    margin: 20px 0;
  }
  
  
  .redes a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .redes img {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* botones */
  .botones {
    margin-top: 20px;
  }
  
  .boton {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #d40000;
    border-radius: 7px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: small;
    margin: 20px;
    min-width: 140px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #d40000;
    color: white;
  }
  
  /* Responsive - mediaqueries */
  @media (max-width: 600px) {
    .contenedor {
      padding: 10px;
    }
  
    .contenedor-imagen-perfil {
      width: 120px;
      height: 120px;
    }
  
    h1 {
      font-size: 1.8em;
    }
  
    h2 {
      font-size: 1em;
    }
  
    p {
      font-size: 0.9em;
    }
  
    .boton {
      padding: 8px 16px;
      font-size: 0.9em;
    }
  
    .redes img {
      width: 25px;
      height: 25px;
    }
  }
  